{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Company Dashboard</title>
</head>

<body>
  Logged in as: {{request.user}}
{% for company in companies %}
  <h1>Products by {{company}}</h1>
  {% if company.user == request.user %}
    <form action="{% url 'shop:add' %}">{% csrf_token %}
        <input type="submit" value="Add Product">
  </form>
  {% endif %}
  {% for product in products %}
  {{ product.name }}-{{ product.description }}-{{ product.rate }}-{{ product.in_stock }}
  {% if company.user == request.user %}
  <form action="{% url 'shop:view' product_slug=product.slug %}">{% csrf_token %}
    <input type="submit" value="View">
  </form>
  <form action="{% url 'shop:edit' product_slug=product.slug %}">{% csrf_token %}
    <input type="submit" value="Edit">
  </form>
  <form action="{% url 'shop:delete' product_slug=product.slug %}">{% csrf_token %}
    <input type="submit" value="Delete">
  </form>
  {% else %}
  <form action="{% url 'shop:view' product_slug=product.slug %}">{% csrf_token %}
    <input type="submit" value="View">
  </form>
  <form action="#">{% csrf_token %}
    <input type="submit" value="Add To Cart">
  </form>
  {% endif %}
  {% endfor %}
{% endfor %}
</body>

</html>