<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post" >
      {% csrf_token %}
      <input type="text" name="query" id="" />
      <button type="submit" name="search">Submit</button>
    </form> 
    {% for query in query_list %} 
    {{query}} 
    {% endfor %}
  </body>
</html>
